<!-- <div>
  <div>
    <ejs-stockchart
      [chartArea]="chartArea"
      [primaryXAxis]="primaryXAxis"
      style="display: block"
      [primaryYAxis]="primaryYAxis"
      [title]="title"
      (load)="load($event)"
    >
      <e-stockchart-series-collection>
        <e-stockchart-series
          [dataSource]="data1"
          type="HiloOpenClose"
          xName="x"
          high="high"
          low="low"
          open="open"
          close="close"
          name="Apple Inc"
        >
        </e-stockchart-series>
      </e-stockchart-series-collection>
    </ejs-stockchart>
  </div>
</div> -->
<p>ohlc works</p>
