<h2>Financial Charts:</h2>
<nav>
  <a routerLink="/ohlc" routerLinkActive="active">OHLC</a>
  <a routerLink="/candlestick" routerLinkActive="active"
    >Candlestick and Volume</a
  >
  <a routerLink="/inversed-area" routerLinkActive="active">Inversed Area</a>
  <a routerLink="/spline-area" routerLinkActive="active">Spline Area</a>
</nav>

<div id="action-description">
  <p>Choose start date and end date:</p>
</div>
<!-- <div class="control-section">
  <div id="control_wrapper">
    <ejs-daterangepicker></ejs-daterangepicker>
  </div>
</div> -->
